<h2>{{title}}</h2>
<div class="row">
    <div class="col-md-6 well">
        <form [formGroup]='vegaAddForm' (ngSubmit)='onSave()'>
            <fieldset>
                <legend>Configuration</legend>
                <label for="make">Makes</label>
                <select id="make" class="form-control" (change)="onMakeChange($event.target.value)" formControlName="make">
                    <option></option>
                    <option *ngFor="let make of makes; let i = index;" [value]="make.id">{{make.name}}</option>
                </select>
                <br/>
                <label for="model">Models</label>
                <select id="model" class="form-control" (change)="onModelChange($event.target.value)" formControlName="model">
                    <option *ngFor="let model of models; let i = index;" [value]="model.id">{{model.name}}</option>
                </select>
                <br/>
                <h4>Is this vehicle registered?</h4>
                <div class="radio">
                    <label for="registered">
                        <input formControlName="registered" type="radio" id="registered" name="registered" [(ngModel)]="registered" [value]="true">Yes
                    </label>
                    <label for="notRegistered">
                        <input formControlName="registered" type="radio" id="notRegistered" name="registered" [(ngModel)]="registered" [value]="false">No
                     </label>
                </div>
                <br/>
                <h4>Features</h4>
                <div  *ngFor="let feature of features;" class="checkbox">
                    <label for="feature{{feature.id}}">
                        <input id="feature{{feature.id}}" type="checkbox" (change)="onFeatureChecked(feature)" />{{feature.name}}
                    </label>
                </div>
            </fieldset>
            <hr />
            <fieldset>
                <legend>Contact Information</legend>
                <label for="contactName">Name</label>
                <input id="contactName" type="text" class="form-control" formControlName="contactName"
                       placeholder="Enter first and Last name" [(ngModel)]="contactInfo.name" /><br />
                <label for="contactPhone">Phone</label>
                <input id="contactPhone" type="text" class="form-control" formControlName="contactPhone"
                       placeholder="Enter phone number" [(ngModel)]="contactInfo.phone" /><br />
                <label for="contactEmail">Email</label>
                <input id="contactEmail" type="text" class="form-control" formControlName="contactEmail"
                       placeholder="Enter email address" [(ngModel)]="contactInfo.email" /><br />
            </fieldset>
            <button class="btn btn-primary" type="submit">Save</button>
        </form>
    </div>
</div>
